<!DOCTYPE html>
<html>

<head>
    <title>Gráfico</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="https://codepen.io/chriddyp/pen/bWLwgP.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

</head>

<body>

    <div id="dashboard-container">
        <div>
            <div class="dashboard-header">Last.fm Dashboard</div>
            <div class="input-container">
                <form action="/" method="POST">
                    <input id="user-input" name="user" type="text" placeholder="Enter Last.fm username">
                    <br>
                    <br>
                    <select id="period-input" name="period">
                        <option value="7day">7 days</option>
                        <option value="1month">1 month</option>
                        <option value="3month">3 months</option>
                        <option value="6month">6 months</option>
                        <option value="12month">12 months</option>
                    </select>
                    <br>
                    <br>
                    <button id="submit-button">Submit</button>
                </form>
            </div>
        </div>

        <div id="user-info"></div>

        <div class="user-info-container">
            <div>
                <a class="user-name" href="{{ data_user.user.url }}" target="_blank">{{ data_user.user.name }}</a>
            </div>

            <br>
            <br>

            <a href="{{ data_user.user.url }}" target="_blank">
                <img class="user-image" src="{{ data_user.user.image[-1]['#text'] }}" alt="User Image">
            </a>

            <br>

            <div class="info-container">
                <div class="info-card">
                    <a class="remove-text-decoration"
                        href="https://www.last.fm/pt/user/{{ data_user.user.name }}/library" target="_blank">
                        Playcount: {{ data_user.user.playcount }}
                    </a>
                </div>

                <div class="info-card">
                    <a class="remove-text-decoration"
                        href="https://www.last.fm/pt/user/{{ data_user.user.name }}/library/artists" target="_blank">
                        Artist count: {{ data_user.user.artist_count }}
                    </a>
                </div>

                <div class="info-card">
                    <a class="remove-text-decoration"
                        href="https://www.last.fm/pt/user/{{ data_user.user.name }}/library/tracks" target="_blank">
                        Track count: {{ data_user.user.track_count }}
                    </a>
                </div>

                <div class="info-card">
                    <a class="remove-text-decoration"
                        href="https://www.last.fm/pt/user/{{ data_user.user.name }}/library/albums" target="_blank">
                        Album count: {{ data_user.user.album_count }}
                    </a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>